*, *::before, *::after{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

button {
    cursor: pointer;
}

*:focus {
    -webkit-tap-highlight-color: transparent;
    outline: none;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
}

ul {
    list-style: none;
}

body {
    background-color:#413c69;
    /* background-image: linear-gradient(to right, #8a8a8a, #8a8a8a,  #a1a1a1); */
    color: #dddddd;
    font-family: 'Lato', sans-serif;
}

header {
    background-color: #5d54a4;
    padding: 40px 10px 55px 10px;
    text-align: center;
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
    box-shadow: 0px 1px 4px #30286b;
}

header h1 {
    color: #fff;
    font-size: 2em;
    font-weight: 400;
    margin-bottom: 15px;
    font-family: 'Ranchers', cursive;
}

header h2 {
    font-size: 1em;
    padding: 0 20px;
}

.search-show-summoner {
    position: relative;
    top: -25px;
    /* border: 1px solid red; */
    padding: 0 5%;
}

.loading-summoner {
    display: none;
    margin: 0 auto;
    border: 4px solid #251c77;
    border-top: 4px solid #5421b3;
    border-radius: 50%;
    width: 28px;
    height: 28px;
    animation: spin 1.2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.form-summoner {
    background-color: #fff;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 50% 30% 20%;
    padding: 2px;
    border-radius: 5px;
}

.input-summoner,
.region-summoner,
.button-submit-summoner {
    border: none;
    background-color: #fff;
    font-family: 'Lato', sans-serif;
}

.input-summoner {
    color: #3a3a3a;
    padding: 10px;
    font-size: 0.9em;
}

.input-summoner::placeholder {
    color: #727272;
}

.region-summoner {
    appearance: none;
    border: 1px solid #eeeeee;
    border-radius: 2px;
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="100" height="50"><polygon points="0,0 100,0 50,50" style="fill:%235d54a4" /></svg>');
    background-position: right 8px top 50%;
    background-repeat: no-repeat;
    background-size: 10px;
    padding-left: 8px;
    padding-right: 25px;
    margin: 2px 0;
}

.region-summoner:focus,
.region-summoner:hover {
    outline: none;
}

.button-submit-summoner {
    background-color: #8b86a3;
    margin: 2px;
    border-radius: 2px;
    color: #fff;
    font-weight: 700;
    cursor: not-allowed;
    transition: background-color 0.2s linear;
}

.button-submit-summoner-enabled {
    background-color: #5d54a4;
    cursor: pointer;
}

.summary {
    position: relative;
    display: none;
}

.summoner-summary {
    display: flex;
    align-items: center;
    margin: 0 auto;
}

.summoner-name {
    font-size: 1em;
    color: #fff;
    font-weight: 700;
}

.summary-icon-level {
    display: flex;
    flex-direction: column;
    position: relative;
    margin-right: 10px;
}

.summoner-icon {
    width: 64px;
    border-radius: 50%;
    border: 3px solid #fff;
}

.summoner-level {
    position: absolute;
    bottom: -10px;
    background-color: #fff;
    display: flex;
    align-self: center;
    padding: 2px 10px;
    font-weight: 700;
    font-size: 0.8em;
    border-radius: 10px;
    color: #5d54a4;
}

.summoner-server {
    font-size: 0.9em;
    color: #d4d4d4;
}

.button-return-to-search-summoner {
    position: absolute;
    right: 5px;
    top: 50%;
    transform: translateY(-50%);
    background-color: transparent;
    border: none;
}

.button-return-to-search-summoner img {
    width: 32px;
}

.summoner-info {
    display: none;
    position: relative;
    margin-top: 5px;
}

.notify-error {
    display: none;
    position: absolute;
    top: 60px;
    left: 0;
    right: 0;
    width: 90%;
    margin: 0 auto;
    padding: 12px;
    text-align: center;
    border: 1px solid rgba(255, 255, 255, 0.4);
    border-radius: 6px;
}

.notify-error img {
    width: 48px;
    margin: 0 auto;
}

.notify-error h1 {
    font-size: 1em;
    margin-bottom: 5px;
}

.error-description {
    color: #e0e0e0;
    font-size: 0.9em;
}

.loading-summoner-info {
    display: none;
    position: absolute;
    top: 70px;
    left: 0;
    right: 0;
    margin: 0 auto;
    border: 4px solid #251c77;
    border-top: 4px solid #5421b3;
    border-radius: 50%;
    width: 28px;
    height: 28px;
    animation: spin-loading-summoner-info 1.2s linear infinite;
}

@keyframes spin-loading-summoner-info {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.buttons {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.buttons button {
    padding: 15px 0;
    border: none;
    background-color: #5d54a4;
    color: #fff;
    font-weight: 700;
}

.ranked {
    display: none;
    flex-direction: column;
    margin-top: 15px;
}

.ranked-solo,
.ranked-flex {
    background-color: #27215a;
    border: 2px solid #1a1644;
    display: flex;
    width: 90%;
    margin: 0 auto;
    padding: 5px;
    border-radius: 5px;
    box-shadow: 0 0 5px #471fb6;
}

.ranked-solo {
    margin-bottom: 10px;
}

.ranked-solo-emblem,
.ranked-flex-emblem {
    margin: 0 10px 0 5px;
}

.ranked-solo-emblem img,
.ranked-flex-emblem img {
    width: 48px;
}

.ranked-solo-info,
.ranked-flex-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.ranked-solo-league-points-win-rate,
.ranked-flex-league-points-win-rate {
    font-size: 0.8em;
    font-weight: 700;
    margin-top: 2px;
}

.champion-mastery {
    display: none;
    margin-top: 15px;
}

.champion {
    border: 2px solid #1a1644;
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: 15px auto;
    /* padding: 0; */
    border-radius: 5px;
    background-image: linear-gradient(to right,#27215a , #342d80);
}

.champion:first-of-type {
    margin-top: 0;
}

.champion-mastery-header {
    margin: 5px 0 0 8px; 
    font-size: 0.85em;
}

.champion-mastery-main {
    display: grid;
    grid-template-columns: 25% 50% 25%;
    justify-content: flex-start;
    margin: 7px 0;
}

.champion-mastery-footer {
    margin: 0 0 5px 8px; 
    font-size: 0.85em;
}

.champion-mastery-rank {
    color: rgba(255, 255, 255, 0.6);
}

.champion-image {
    margin: auto;
}

.champion-image img {
    width: 64px;
    border-radius: 50%;
    border: 4px solid rgba(14, 3, 46, 0.7);
    box-shadow: 0 0 5px #5d54a4;
    margin-top: 4px;
}

.champion-name-title {
    margin: auto 0;
}

.champion-name {
    font-size: 1em;
    font-weight: 700;
    margin-bottom: 1px;
}

.champion-title {
    font-size: 0.85em;
    color: rgba(255, 255, 255, 0.6);
}

.champion-mastery-points {
    margin: auto 0;
    text-align: center;
}

.champion-mastery-points img {
    width: 48px;
    position: relative;
}

.champion-points {
    position: relative;
    top: -4px;
    font-size: 0.85em;
    font-weight: 700;
    color: #dadada;
}

.champion-last-played {
    color: rgba(255, 255, 255, 0.6);
}

.more-masteries {
    display: grid;
    grid-template-areas: "show-more-masteries";
    width: 90%;
    height: 40px;
    margin: 20px 5%;
    text-align: center;
    /* border: 1px solid; */
}

.more-masteries-loading {
    grid-template-areas: "loading-more-masteries";
}

.loading-more-masteries {
    grid-area: loading-more-masteries;
    display: none;
    left: 0;
    right: 0;
    margin: auto;
    border: 4px solid #251c77;
    border-top: 4px solid #5421b3;
    border-radius: 50%;
    width: 28px;
    height: 28px;
    animation: spin-loading-more-masteries 1.2s linear infinite;
}

@keyframes spin-loading-more-masteries {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.button-load-more-masteries {
    grid-area: show-more-masteries;
    display: none;
    text-align: center;
    font-size: 0.85em;
    font-weight: 700;
    background-color: transparent;
    color: #dbdbdb;
    border: 1px solid  rgba(255, 255, 255, 0.2);
    border-radius: 8px;
}

.no-more-masteries {
    grid-area: no-more-masteries;
    display: none;
    position: relative;
    top: -2px;
    font-size: 0.9em;
    margin: auto 0;
}

.no-more-masteries-display {
    grid-template-areas: "no-more-masteries";
}


.match-history {
    display: none;
    margin-top: 15px;
}

.match {
    width: 90%;
    border: 2px solid #1a1644;
    margin: 15px auto;
    padding: 5px 5px;
    border-radius: 5px;
    /* background-image: linear-gradient(to right, rgba(26, 160, 97, 0.4), rgba(26, 160, 97, 0.3), rgba(26, 160, 97, 0.2)); */
    /* background-image: linear-gradient(to right, rgba(160, 26, 55, 0.4), rgba(160, 26, 55, 0.3), rgba(160, 26, 55, 0.2)); */
}

.match:first-of-type {
    margin-top: 0;
}

.match-header {
    /* border: 1px solid red; */
    font-size: 0.85em;
    padding-bottom: 6px;
    margin-bottom: 6px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.match-date-duration {
    display: flex;
    align-items: center;
    color: rgba(255, 255, 255, 0.6);
}

.match-duration {
    position: relative;
    top: 1px;
}

.match-info {
    /* border: 1px solid #fff; */
    display: flex;
    align-items: center;
}

.match-champion {
    margin-right: 8px;
}

.match-champion img {
    width: 64px;
    border-radius: 50%;
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.4);
}

.match-spells {
    display: flex;
    flex-direction: column;
    margin-right: 5px;
}

.match-spells img {
    width: 24px;
    border-radius: 5px;
}

.match-spells img:first-of-type {
    margin-bottom: 3px;
}

.match-runes {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 10px;
    height: 59px;
}

.match-runes img:first-of-type {
    margin: 2px 0 3px 0;
    width: 28px;
}

.match-runes img:last-of-type {
    width: 20px;
}

.match-score-kda {
    font-size: 0.9em;
    font-weight: 700;
    margin-right: 12px;
}

.match-level-cs-kp {
    flex: 1;
    font-size: 0.9em;
}

.match-info-span {
    color: rgba(255, 255, 255, 0.4);
    font-weight: 400;
}

.match-footer {
    display: flex;
    justify-content: space-between;
    margin: 6px 0 4px 0;
    padding: 6px 2px 0 2px;
    border-top: 1px solid rgba(0, 0, 0, 0.2);
}

.button-expand-info {
    position: relative;
    top: 2.5px;
    border: none;
    background-color: transparent;
    padding: 0 8px;
}

.button-expand-info-image {
    pointer-events: none;
    width: 14px;
}

.button-expand-info-image-flip {
    position: relative;
    top: -2px;
    transform: rotate(180deg);
}

.match-patch {
    font-size: 0.85em;
}

.match-more-info {
    display: flex;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s linear;
}

.match-more-info-expand {
    margin: 10px 0 12px 0;
}

.match-items {
    /* border: 1px solid red; */
    display: grid;
    grid-template-areas: "item0 item1 item2 ."
                         "item3 item4 item5 item6";
    margin-right: 12px;
}

.item-build {
    width: 30px;
    height: 30px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 5px;
}

.item-build img {
    width: 100%;
    border-radius: 5px;
}

.item-build:nth-child(1) {
    grid-area: item0;
    margin-right: 4px;
    margin-bottom: 4px;
}

.item-build:nth-child(2) {
    grid-area: item1;
    margin-right: 4px;
    margin-bottom: 4px;
}

.item-build:nth-child(3) {
    grid-area: item2;
    margin-bottom: 4px;
}

.item-build:nth-child(4) {
    grid-area: item3;
}

.item-build:nth-child(5) {
    grid-area: item4;
}

.item-build:nth-child(6) {
    grid-area: item5;
}

.item-build:nth-child(7) {
    grid-area: item6;
    position: relative;
    top: -16px;
    margin-left: 4px;
}

.match-champions {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.match-blue-team {
    /* border: 1px solid red; */
    display: flex;
}

.match-blue-team img,
.match-red-team img {
    width: 27px;
    margin-right: 3px;
}

.match-blue-team img:last-of-type,
.match-red-team img:last-of-type {
    margin-right: 0;
}

.match-red-team {
    display: flex;
}





.more-matches {
    /* border: 1px solid; */
    display: none;
    /* display: grid; */
    height: 40px;
    grid-template-areas: "show-more";
    /* grid-template-areas: "loading-more-matches"; */
    width: 90%;
    margin: 2px 5% 20px 5%;
    text-align: center;
}

.more-matches-loading {
    grid-template-areas: "loading-more-matches";
}

.loading-more-matches {
    grid-area: loading-more-matches;
    display: none;
    left: 0;
    right: 0;
    margin: auto;
    border: 4px solid #251c77;
    border-top: 4px solid #5421b3;
    border-radius: 50%;
    width: 28px;
    height: 28px;
    animation: spin-loading-more-matches 1.2s linear infinite;
}

@keyframes spin-loading-more-matches {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.button-load-more-matches {
    grid-area: show-more;
    display: none;
    text-align: center;
    font-size: 0.85em;
    font-weight: 700;
    background-color: transparent;
    color: #dbdbdb;
    border: 1px solid  rgba(255, 255, 255, 0.2);
    border-radius: 8px;
}
